body {
  margin: 0;
  padding: 0;
}

#myCanvas {
  background: #113;
}

#ang_wrap{

}

#angriness_slider {
  width:400px;
  position: absolute;
  bottom:150px;
  left:50%;
  margin-left: -200px;
  background: #f0ab00;
}

#angry_selector {
  width:200px;
  position: absolute;
  bottom:100px;
  left:50%;
  margin-left: -100px;
  background: #f0ab00;
}

#selector_wrapper {
  width:400px;
  position:absolute;
  bottom:100px;
  left:50%;
  margin-left: -200px;
}

.selector_button {
  width: 80px;

  padding:5px 0;
  text-align: center;
  float:left;
  background: #f0ab00;

  text-transform: uppercase;

  font-family: 'futura';
  color: #444;
  text-decoration: none;
  margin-right: 6px;

  border: 5px solid darken(#f0ab00, 10%);
}